@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
    font-family: 'arial', Arial;
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapers.com%2Fimages%2Fhd%2Fwhite-wall-pictures-wdzpaf1rsbpt7wz1.jpg&f=1&nofb=1&ipt=69c36358525e6315931f0fa2622e2e03d3c4f0ace4e6a79c0ab99f4248d6a6c1");
    color: darkred;
}

header {
    background: dimgrey;
    padding: 20px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

h1 {
    text-align: center;
    padding: 100px ;
}

.product-page h1{
    text-align: left;
    padding: 2px;
}

.product-page{
    padding: 20px;
}

.product-img{
    width: 100%;
    height: auto;
}

.container {
   text-align: center;

}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.product-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.product-card img {
    width: 100%;
    border-radius: 8px;
}

.container h1{
    text-align: left;
    padding: 8px;
}

.contact-info {
    display: flex;
    align-items: flex-start;
}


.contact-left {
    flex: 1;
}

.contact-left p {
    text-align: left;
    padding: 5px;
}


aside {
    flex: 1;
}

aside iframe {
    width: 100%;
    height: 300px;
    border: 0;
}
